<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Thorge Spehr**

**Current Occupation: Process Manager**

*I am interested in Data Science because I find it fascinating how it is possible to extract information from a data set to make accurate predictions.*

*I am sure convinced that information gained through data science is very valuable.*

### The code in the following cell is supposed convert values from Kilometers to Nautical Miles.
### First the user is asked to input a km-value. After an input is made, the code returns the input km-value converted to units of nautical miles.

In [10]:
x=float(input("Input the Kilometer value you would like to have converted to nautical miles: "))
def converter(x):
    return x*1.852
print("{} km= {}nm".format(x,converter(x)))

Input the Kilometer value you would like to have converted to nautical miles:  53

53.0 km= 98.156nm

---
* List Item 1
* List Item 2
* List Item 3

1. first point
2. second point
3. third point

|a|b|
|---|---|
|10|14|

Hyperlink:
<a href="https://ibm.com">Hyperlink to IBM</a>

![My Image](https://images.unsplash.com/photo-1541364983171-a8ba01e95cfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80)


```x=float(input("Input the Kilometer value you would like to have converted to nautical miles: "))
def converter(x):
    return x*1.852
print("{} km= {}nm".format(x,converter(x)))```


>This looks like an important quote


~~strikethrough text~~